body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.background-fix {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.slider-container {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 400px;
    margin: 0 auto;
}

.slider {
    display: flex;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.slide {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.slide > li {
    width: 800px;

}

.slide > li > div {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    text-shadow: 1px 1px 1px 1px gray;
}

.slide a {
    text-decoration: none;
    font-size: 22px;
    background: lightgrey linear-gradient(40deg, white -30%, transparent 60%);
    padding: 10px 25px 10px 25px;
    border-radius: 15px;
    opacity: .5;
    color: darkslateblue;
}

.slide a:hover {
    text-decoration: none;
    opacity: .8;
}

.slider-nav {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 9999;
    top: calc(50% - 15px);
    cursor: pointer;
}

.slider-text {
    color: darkslateblue;
    font-size: 28px;
    margin-bottom: 20px;
}

.slider-next {
    right: -50px;
    background-image: url("../img/arrow.png");
    transform: rotate(270deg);
    transition: right 0.3s ease-in-out;
}

.slider-prev {
    left: -50px;
    background-image: url("../img/arrow.png");
    transform: rotate(90deg);
    transition: left 0.3s ease-in-out;
}

.slider-container:hover .slider-next {
    right: 50px;
}

.slider-container:hover .slider-prev {
    left: 50px;
}

.navigation {
    position: absolute;
    bottom: 50px;
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
}

.navigation div {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    background: gainsboro;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: border-box;
}

.navigation .active {
    border: 2px solid lightcoral;
    background: gainsboro;
    cursor: pointer;
}

.navigation div:hover {
    border: 2px solid darkgrey;
}

